<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" 
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/survey.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <title>My Deliverables</title>
</head>
<body>
<header>
    <nav>
        <div class="left">
           <a href="/index.html"> <p>Home</p></a>
        </div>

        <div class="center">
            <img src="/assets/img/My-logo-white.png" alt="">
        </div>
        <div class="right">
            <ul>
                 <a href="/services.html"><li>Services</li></a>
                 <a href=""><li>Projects</li></a>
                 <a href="/survey.html"><li>Surveys</li></a>
                 <a href=""><li>About</li></a>
                
        </div>
    </nav>
</header>

<div class="texta" 
style="color:black;
        margin:auto;
        margin-top: 5rem;">
    <p >This place will be filled with all the services that I am offering to my customers.</p>
</div>

<footer id="footer">
    <div class="footer-text">
        <a href="">Term of usage</a>
        <a href="">User's code of conduct</a>
        <a href="">kakaopayme</a>
    </div>
    <p></p>
    <p >Copyright Mag Mukendi 2022</p>
</footer>

</body>
</html>

