
#debout{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#login{
    margin-top: 200px;
}


#login_form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
}

#login_form input{
    margin-bottom: 20px;
    padding: 5px;
}
.below-text{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.below-text p{
    font-size: 13px;
    margin-right: 10px;
    margin-left: 10px;
    
}

#login_bt{
 border-radius: 5px;

}