@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Monoton&display=swap');


:root{
    --bg1: black;
    --bg2: white;
    --primary: #27B6FF;
    --secondary: #D64C68;
    --tertiaryA: #ECF203;
    --tertiaryB:#F2D308;
    --tertiaryC: #F8B40D; 
}

body{
    background: linear-gradient(to left, rgb(255, 238, 163), rgba(255, 216, 90, 0.829));
    margin: 0;
    color:black;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: 'Inter', sans-serif; 
}


.section1{
    color: #0e0a22;
    margin: 10em 20em 10em 20em;
    background: red;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2rem 5rem 5rem 5rem;

}


.section1 h2{
    font-size: 40px;
    margin-bottom: 0rem;
}
.form-title p{
    font-size: 1rem;
    margin-top: 0.5rem;
}

.form-elements p{
    margin-bottom: 0.5rem;
    margin-top: 0rem;
}
#form{
    all:unset;
    display: grid;
    grid-template-rows: repeat(autofill, 1fr);
    justify-items: stretch;

}

form input{
    width: 200px;
}

.form-elements{
    display: grid;
    grid-template-rows: repeat(autofill, 1fr);
}

input, textarea{
    margin-bottom: 15px;
}
#submit{
    background: rgb(253, 153, 153);
    color: black;
    font-weight: bold;
    padding: 0.5rem;
    border: unset;
    border-radius: 2%;
}

@media (max-width:1050px){
    .right{
        padding-right: 1rem;
    }
    .section1{
        margin: 5rem 5rem 0rem 5rem;
    }
    .left{
        padding-left: 1rem;
    }
    nav{
        font-size: 12px;
    }
}

@media (max-width:500px){
    #footer a{
        font-size: 7px;
    }
    #footer p{
        font-size: 5px;
    }
    body{
        background: white;

    }
    nav{
        font-size: 10px;
    }
    .section1 h2{
        font-size: 23px;
        margin-bottom: 2rem;
    }
    .form-title p{
        font-size: 10px;
        margin-top: 0.5rem;
    }
    nav img{
        max-width: 8%;
        height: auto;
        border-radius: 0 0 20% 20%;
        opacity: 0;
    }
    .left{
        display: flex;
        flex-basis: 30%;
        justify-content: flex-start;
        padding:  0 0 0 02rem ;
    }
    
    .form-elements p{
        font-size: 12px;
        margin-bottom: 0.5rem;
        margin-top: 0rem;
    }
    .section1{
        margin: 2rem 0rem 0rem 0rem;
        padding: 2rem;

    }
}
@media (max-width:300px){
    body{
        background: white;

    }
    .left{
        display: flex;
        flex-basis: 30%;
        justify-content: flex-start;
        padding:  0 0 0 0rem ;
    }
    
    .left p{
        padding: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    nav{
        font-size: 8px;
    }
    .section1 h2{
        font-size: 15px;
        margin-bottom: 0rem;
    }
    .form-title p{
        font-size: 10px;
        margin-top: 0.5rem;
    }
    
    .form-elements p{
        margin-bottom: 0.5rem;
        margin-top: 0rem;
    }
    .section1{
        margin: 2rem 0rem 0rem 0rem;
        padding: 2rem;
    }
}




@media (max-width:299px ){
    body{
        font-family: 'Inter', sans-serif; 

    }
    
    .section1{
        margin: 1rem 0rem 0rem 0rem;
    
    }
}


.me{
    display: grid;
    justify-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: white;
    font-family: 'Inter', sans-serif; 
    

}
#me{
    width: 70%;

    height:auto;
    margin: auto;

}

